<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="fr"
      xmlns:sec=" http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css" >
</head>
<body>

<header>
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">A propos</h4>
                    <p class="text-muted">Bienvenue dans la nouvelle application de construction de menu pour
                        famille.</p>
                        <div class="div1" sec:authorize="isAuthenticated()">
                            <form th:action="@{/logout}" method="get">
                                <button class="btn btn-outline-warning me-2" type="Submit">Déconnection</button>
                            </form>
                        </div>
                </div>                
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <strong>On mange quoi ?</strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>

<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Organisateur de Menu</h1>
            <h2 th:text="${organizer.label}"/>
            
            <div sec:authorize="isAuthenticated()">
            <a type="button" class="btn btn-secondary" th:href="'/organizer/new?id=' + ${userId.uuid}">Ajouter un organisateur</a>
            </div>    
            <!-- 
            <div sec:authorize="isAuthenticated()">
            <p>    
                <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Ajouter un organisateur
                  </button>        
            </p>
              <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <form class="form" name="request" action="/organizer/new" method="post"> 
                        <input type="hidden" th:value="${login}" name="login"/> 
                        <input type="text" id="inputLabel" class="form-control" name="label"  required autofocus/>
                        <label for="inputLabel">Donner un nom à votre nouveau organisateur:</label>
                        <button class="btn btn-sm btn-outline-secondary" type="submit">Valider</button>
                    </form>
                </div>
              </div>
            </div>  
            -->

        </div>    

            <!--<p class="lead text-muted">Something short and leading about the collection below—its contents, the creator,
                etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
            <p>
                <a href="#" class="btn btn-primary my-2">Main call to action</a>
                <a href="#" class="btn btn-secondary my-2">Secondary action</a>
            </p>-->
        
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                <div class="col-md-3">
                    <div class="card mb-4 box-shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Lundi</h4>
                        </div>
                        <div class="card-body">
                            <p class="card-text" th:each="meal: ${organizer.monday.meals}">
                                <strong th:text="${meal.typeLabel}"/>
                                <span th:text="${meal.choiceLabel}"/>
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Editer</button>
                                    <a type="button" class="btn btn-sm btn-outline-secondary" th:href="'/addCategories?id=' + ${organizer.monday.id}">Add catégorie</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card mb-4 box-shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Mardi</h4>
                        </div>
                        <div class="card-body">
                            <p class="card-text" th:each="meal: ${organizer.tuesday.meals}">
                                <strong th:text="${meal.typeLabel}"/>
                                <span th:text="${meal.choiceLabel}"/>
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Editer</button>
                                    <a type="button" class="btn btn-sm btn-outline-secondary" th:href="'/addCategories?id=' + ${organizer.tuesday.id}">Add catégorie</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card mb-4 box-shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Mercredi</h4>
                        </div>
                        <div class="card-body">
                            <p class="card-text" th:each="meal: ${organizer.wednesday.meals}">
                                <strong th:text="${meal.typeLabel}"/>
                                <span th:text="${meal.choiceLabel}"/>
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Editer</button>
                                    <a type="button" class="btn btn-sm btn-outline-secondary" th:href="'/addCategories?id=' + ${organizer.wednesday.id}">Add catégorie</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card mb-4 box-shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Jeudi</h4>
                        </div>
                        <div class="card-body">
                            <p class="card-text" th:each="meal: ${organizer.thursday.meals}">
                                <strong th:text="${meal.typeLabel}"/>
                                <span th:text="${meal.choiceLabel}"/>
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Editer</button>
                                    <a type="button" class="btn btn-sm btn-outline-secondary" th:href="'/addCategories?id=' + ${organizer.thursday.id}">Add catégorie</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card mb-4 box-shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Vendredi</h4>
                        </div>
                        <div class="card-body">
                            <p class="card-text" th:each="meal: ${organizer.friday.meals}">
                                <strong th:text="${meal.typeLabel}"/>
                                <span th:text="${meal.choiceLabel}"/>
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Editer</button>
                                    <a type="button" class="btn btn-sm btn-outline-secondary" th:href="'/addCategories?id=' + ${organizer.friday.id}">Add catégorie</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card mb-4 box-shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Samedi</h4>
                        </div>
                        <div class="card-body">
                            <p class="card-text" th:each="meal: ${organizer.saturday.meals}">
                                <strong th:text="${meal.typeLabel}"/>
                                <span th:text="${meal.choiceLabel}"/>
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Editer</button>
                                    <a type="button" class="btn btn-sm btn-outline-secondary" th:href="'/addCategories?id=' + ${organizer.saturday.id}">Add catégorie</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card mb-4 box-shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Dimanche</h4>
                        </div>
                        <div class="card-body">
                            <p class="card-text" th:each="meal: ${organizer.sunday.meals}">
                                <strong th:text="${meal.typeLabel}"/>
                                <span th:text="${meal.choiceLabel}"/>
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Editer</button>
                                    <a type="button" class="btn btn-sm btn-outline-secondary" th:href="'/addCategories?id=' + ${organizer.sunday.id}">Add catégorie</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card mb-4 box-shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Régulier</h4>
                        </div>
                        <div class="card-body">
                            <p class="card-text" th:each="meal: ${organizer.noMatterDay.meals}">
                                <strong th:text="${meal.typeLabel}"/>
                                <span th:text="${meal.choiceLabel}"/>
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Editer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<!-- Bootstrap core JavaScript
================================================== -->
<script src="js/jquery-3.5.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/holder.min.js"></script>

</body>
</html>